.container {
   width: 45%;
   margin: auto auto 3rem auto;
   padding: 1rem;
   border-radius: 1rem;
}

.full-width {
   width: 100%;
}

h1, img, p{
   text-align: center;
}

img {
   height: 15rem;
}

.status-prioridade {
   display: flex;
   justify-content: space-between;
}

.status-prioridade mat-form-field {
   width: 49%;
}

.observacoes {
   min-height: 6rem;
   max-height: 10rem;
}

button {
   margin-top: .5rem;
}

p {
   margin-top: 3rem;
   opacity: .5;
}